<!DOCTYPE html>
<html>
  <head>
    <title>Warehouse</title>
    <%= csrf_meta_tags %>

    <!-- 문자인코딩 -->
    <meta charset="UTF-8">

    <!-- MS 엣지 브라우저와 호환가능 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- 모바일을 위한 페이지 & 반응형 -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application'%>
  </head>

  <body>
    <%= yield %>

  </body>
</html>
